@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";

// Reset and dependencies
@import "bootstrap/less/normalize.less";
// @import "bootstrap/less/print.less";

// Core CSS
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/type.less";
// @import "bootstrap/less/grid.less";
@import "bootstrap/less/buttons.less";

@gray-base:              rgb(43,58, 66);
@gray-dark:              @gray-base;
@font-size-base:          16px;
@base-margin: 		0.5em;

@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 3)); // ~36px
@font-size-h2:            floor((@font-size-base * 2)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.5)); // ~24px

@padding-base-horizontal: @base-margin * @line-height-small;
@padding-base-vertical: @base-margin;

.mq(@min-width; @rules) {
	@media only screen and ( min-width: @min-width ) {
		@rules();
	}
}

.container2 {
	.container-fixed();
}

.main {
	margin: 0 auto;
	position: relative;

	.mq( @screen-lg-min, {
		width: 984px
	});
}

.imgz {
	.img-responsive();
}

.header {
	background-color: black;
	&-wrap {
		&:extend( .main all );
	}


	&-title {
		color: white;
		z-index: 1;
		font-weight: bold;
		margin-top: 0;
		padding-top: 22px;
		position: absolute;
		text-shadow: -1px -1px 0 black;

		.small {
			font-size: @font-size-base;
		}
		.mq( 320px, {
			font-size: 100%;
			bottom: 0;
			padding: @padding-base-vertical @padding-base-vertical @padding-base-vertical 0;
		});

		.mq( 480px, {
			padding: @padding-base-vertical @padding-base-horizontal;
			font-size: @font-size-h1;
			bottom: 0;
			padding-left: 0;
			padding-right: 0;
		});
	}

	&-image {
		position: relative;
		z-index: 0;
		&:extend( .imgz );
	}
}

.nav {
	overflow: hidden;
	&-logo {
		float: left;
	}
	&-btn {
		float: right;
	}
}


.callout {
	text-align: center;
	background-color: rgb(189, 212, 222);
	&-content {
		display: block;
	}
	&-image {
		&:extend( .imgz );
	}
}

.content {
	&:extend( .main all );
	.mq( 320px, {
		padding: @padding-base-vertical 0;
	});
}
