doctype html
html(lang="en")
	block vars
		- var title = "none"

	head
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1", maximum-scale="1", user-scalable="0")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		link( rel="stylesheet", href="style.min.css" )

		title #{title}

	body(lang="en")

		header.header
			.header-wrap.container
				h1.header-title How to Know Your Kids’ Internet Activity and Protect them from Online Dangers
				img.header-image( src="/img/header.png" )

		main.content
			.content-wrap.container
				p For parents who want to keep an eye on their children’s Internet activity and shield them from online dangers – there’s good news. #[a( href="https://www.netnanny.com" ) Net Nanny], the #1 parental control software for more than 10 years, recently launched its #[a( href="https://www.netnanny.com/products/family-protection-pass/" ) #[b  #[em Family Protection Pass ]]]– which stops bad content and harmful behaviour such as pornography, predators and cyberbullying  no matter what desktop or mobile device they are on nor where they are.

				h2 How does it work?

				p #[a( href="https://www.netnanny.com" ) Net Nanny] lets you view your child’s Internet browsing activity and - depending on how you customize settings in 18 different categories – filter and block websites that have inappropriate and dangerous content on them.   And with #[a( href="https://www.netnanny.com/products/net-nanny-social/" ) #[b  #[em Net Nanny Social]]], you can also monitor the social networks your kids use, regardless of the child’s device or Internet access point (3G/4G, Wi-Fi, home network, or hotspot). Net Nanny Social monitors a child's friends, pictures, and posts on Facebook, Twitter, Instagram, Pinterest, Tumblr, Google+ and LinkedIn.


				h2 Why is this important?

				p Smartphones are now an integral part of our children’s lives.  A recent study from Common Sense Media says that Yet unrestricted internet access is dangerous for children.  Another study states that 8 out of 10 children saw pornography inadvertently before the age of 11. And other research revealed that 70% of children say that they purposefully hide their internet activity from their parents.

				p From inadvertent or purposeful viewing of pornography, to attacks from online predators to classmate #[a(href="https://www.netnanny.com/blog/5-ways-to-prevent-cyber-bullying/") cyberbullying], or simply too much screen time, kids have never been more vulnerable to negative, potentially life altering experiences, which can hurt the child’s social and intellectual development.

				p Parents must be more vigilant and Net Nanny provides them with the necessary tools.

				h2 Net Nanny reads the book, not just the cover.

				p There is good reason why Net Nanny has been awarded PC Magazine’s Best Parenting Software accolade five times. While almost all other filters simply block complete websites by keeping a domain name blacklist, Net Nanny’s #[a(href="https://www.netnanny.com/products/netnanny/product-comparison/") #[b Smart Filter]] actually analyzes the content of webpages in real time. This means it can catch and block inappropriate content inside normally acceptable sites like New York Times or YouTube. It also prevents dangerous content from appearing in search results, apps and many other places that other filters would miss.

				p Parents can set filtering levels across 18 content categories and be confident that their child will be protected from exposure.


				h2 Healthy Screen Time Rules

				p Furthermore, screen-time rules can be set to ensure that children can focus on what’s important. For example, no social media during school hours or no internet at all during sleeping hours.

				p Experts agree that this kind of parenting strategy is vital. According to a recent study conducted by the American Association of Pediatrics, parental management of media has many positive effects:

					ul
						li Less screen time
						li Increased sleep
						li Better performance in school
						li Enhanced prosocial behavior
						li Lower aggressive behavior


		aside.callout
			a(href="https://www.netnanny.com/products/netnanny/")
				img( src="../img/callout.png").container.callout-image

		footer.content
			.container
				p So no matter what age your child using the Internet or a smartphone is, consider how you might keep them protected from the dangers that being online can bring.  Net Nanny, with its powerful management tools and Smart Filtering,  is a pioneer and the #[a(href="https://www.netnanny.com/products/netnanny/product-comparison/") #[b most trusted]] online parental control software available. No matter the kind or number of computers and devices in your home, it may be right for you and your family.